.page-content {
    text-align: center;
    background-color: antiquewhite;
    padding: 1em;
}

.highlighted-text {
    background-color: rgba(255, 255, 0, 0.1); /* Faint highlight */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.highlighted-text:hover,
.highlighted-text.active {
    background-color: rgba(255, 255, 0, 0.5); /* Increase opacity on hover or click */
}
